@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{box-sizing:border-box;margin:0;padding:0}

/* Main Styling */

html,body{font-family:"Montserrat",sans-serif;line-height:1.6;scroll-behavior:smooth}
h1{font-size:2.5rem}
h2{font-size:2rem}
h3{font-size:1.75rem}
h4{font-size:1.5rem}
h5{font-size:1.25rem}
p{font-size:1rem;margin:10px 0;line-height:1.7em}
a{text-decoration:none}

/* Utility Classes */

.container{margin:auto;max-width:1300px;overflow:auto;padding:0 20px}
.large{font-size:1.25rem}
.display-1{font-size:5rem}
.btn{display:inline-block;font-size:15px;padding:12px 23px;cursor:pointer;font-weight:bold;letter-spacing:1px}
.btn-light{background:#fff;border:1px solid #fff;color:#4d4d4d;border-top-right-radius:20px;border-bottom-left-radius:20px}
.btn-dark{background:#98FF98;border:1px solid #98FF98;color:#4d4d4d}
form label{display:inline-block;margin-bottom:6px}
form .form-group{margin-bottom:16px}
form .form-control{width:100%;padding:7px 12px;font-size:1rem;line-height:1.5;color:#495057;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;border-radius:20px}

/* Mainheader */
#mainheader{color:#4d4d4d}
#mainheader h1{color:#000;font-weight:200;padding-top:60px;padding-bottom:30px}
#navbar{background:#98FF98;color:#fff;overflow:auto;padding-top:10px;padding-bottom:10px}
#navbar a{color:#4d4d4d}#navbar .logo{float:left;padding-top:5px;font-size:25px;height:100px}
#navbar ul{list-style:none;float:right}#navbar ul li{float:left}
#navbar ul li .btn{color:#98FF98}
#navbar ul li a{display:block;padding:20px;text-align:center}

/* Showcase */
#showcase{background:#98FF98;text-align:center;padding:10px;border-bottom-right-radius:50% 50%;border-bottom-left-radius:50% 50%}
#showcase h1{font-weight:800;color:#4d4d4d;line-height:1.2em}
#showcase a{margin:20px 30px 30px 20px}#Portfolio{padding:30px 0}
#showcase .showcase-row-box img{width:150px;padding-right:10px;padding-top:10px}

/* Portfolio */
#Portfolio h2{text-align:center}
#Portfolio .Portfolio-row{padding-top:30px;display:flex}
#Portfolio .Portfolio-row-box{padding:30px;margin:20px;background:#F9F9F9;box-shadow:2px 2px 2px 1px rgba(0,0,0,0.2);border-radius:20px}
#Portfolio .Portfolio-row-box img{height:200px;display:block;margin:0 auto;padding:10px}


#About h2{text-align:center}
#About p{text-align:justify}
#About{padding:50px 0;background:#F9F9F9}
#About .About-row{padding-top:30px;display:flex}
#About .About-row-box{padding:20px}


#contact{padding:60px 0}
#contact .contact-box{background:#98FF98;padding:80px;margin:20px;color:#4d4d4d;border-top-right-radius:80px;border-bottom-left-radius:80px}
#contact .contact-box h6,
#contact .contact-box h2{color:#4d4d4d;text-align:center}
#contact .contact-box form{padding-top:50px;width:60%;margin:0 auto}
#contact .contact-box form button{width:100%;border-radius:20px;text-transform:uppercase}


#mainfooter{background:#98FF98;text-align:center;padding:30px}

@media (max-width: 700px){.display-1{font-size:3rem}#navbar .logo{float:none;display:block;margin:0 auto;margin-bottom:20px}#navbar ul{float:none}#showcase{padding:10px;border-bottom-right-radius:0;border-bottom-left-radius:0}#showcase a{margin-bottom:80px}#Portfolio .Portfolio-row{flex-wrap:wrap}#Portfolio .Portfolio-row-box{padding:20px;margin:10px}#Portfolio .Portfolio-row-box img{height:150px;padding:10px}#about{padding:20px 0}#about .about-row{padding-top:0;flex-wrap:wrap}#contact{padding:50px 0}#contact .contact-box{padding:20px;margin:0px}#contact .contact-box form{padding:20px;width:100%}}
