@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-stack: 'Montserrat', sans-serif;
$primary-color: #EC5C2C;
$secondary-color: #29285A;
$third-color: #F18C6B;
$gray-color: #F9F9F9;

// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Main Styling
html,
body {
  font-family: $font-stack;
  line-height: 1.6;
  scroll-behavior: smooth;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { 
  font-size: 1rem; 
  text-transform: uppercase;
  color: $primary-color;
  font-weight: 600;
}

p {
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.7em;
}

a { text-decoration: none; }

// Utility Classes
.container {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 20px;
}

.large { font-size: 1.25rem; }

.display-1 { font-size: 5rem; }

.btn {
  display: inline-block;
  font-size: 15px;
  padding: 12px 23px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-light {
  background: #fff;
  border: 1px solid #fff;
  color: $primary-color;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.btn-dark {
  background: $primary-color;
  border: 1px solid $primary-color;
  color: #fff;
}

form {
  label {
  display: inline-block;
  margin-bottom: 6px;
  }
  .form-group {
    margin-bottom: 16px;
  }
  .form-control {
    width: 100%;
    padding: 7px 12px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 20px;
  } //End form .form-control
} //End form

/* Services */
#mainheader {
  color: #fff;
  h1 {
    color: #000;
    font-weight: 200;
    padding-top: 60px;
    padding-bottom: 30px;
  }
} //End #mainheader

/* Navbar */
#navbar {
  background: $primary-color;
  color: #fff;
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  a {
  color: #fff;
  }  
  .logo {
    float: left;
    padding-top: 5px;
    font-size: 25px;
    height: 100px;
  }
  ul {
    list-style: none;
    float: right;
    li {
      float: left;
      .btn {
        color: $primary-color;
      }
      a {
        display: block;
        padding: 20px;
        text-align: center;
      } //End #navbar ul li a
    } //End #navbar ul li
  } //End #navbar ul
} //End #navbar

/* Showcase */
#showcase {
  background: $primary-color;
  text-align: center;
  padding: 20px;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  h1 {
    font-weight: 800;
    color: #fff;
    line-height: 1.2em;
  }
  a {
    margin: 20px 30px 30px 20px;
  }
} //End #showcase

/* Services */
#services {
  padding: 60px 0;
  h2,
  h6 {
    text-align: center;
  }
  .services-row {
    padding-top: 30px;
    display: flex;
    &-box {
      padding: 30px;
      margin: 20px;
      background: $gray-color;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      img {
        height: 200px;
        display: block;
        margin: 0 auto;
        padding: 20px;
      }
      h4 {
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 500;
      }
    } //End #services .services-row-box
  } //End #services .services-row
} //End #services

/* About */
#about {
  padding: 50px 0;
  background: $gray-color;
  .about-row {
    padding-top: 30px;
    display: flex;
    &-box {
      padding: 20px;
      img {
        width: 400px;
        padding-right: 20px;
        padding-top: 50px;
      }
    } //End #about .services-row-box
  } //End #about .services-row
} //End #about

/* Contact */
#contact {
  padding: 60px 0;
  .contact-box {
    background: $secondary-color;
    padding:80px;
    margin: 20px;
    color: #fff;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    h6,
    h2 {
      color: #fff;
      text-align: center;
    }
    form {
      padding-top: 50px;
      width: 60%;
      margin: 0 auto;
      button {
        width: 100%;
        border-radius: 20px;
        text-transform: uppercase;
      }
    } //End #contact .contact-box form
  } //End #contact .contact-box 
} //End #contact

/* Footer */
#mainfooter {
  background: $primary-color;
  text-align: center;
  padding:30px;
}

@import 'mobile';